{{# each items }}
<article class="item">
<div class="col-sm-4" >
<h1>{{ this.username }}</h1>
<h2><img src="http://localhost:3000/uploads/{{this.profileimage}}" alt="" style="width:150px;height:150px;border:0"></h2>
<h3> Height:{{ this.height }} </h3>
<h3> Weight:{{ this.weight }} </h3>
<h3> Gender:{{ this.gender }} </h3>
<h3> Sport:{{ this.sport }} </h3>
<h3> Tib/Fib:{{ this.shank }} </h3>
<h3> ID:{{ this._id }} </h3>



</div>
</article>
{{/each}}

